.ai {
    font-style:normal;
    color:purple;
    font-weight:bold;
    font-size:24px;
    line-height:24px;
}
.ai.aries,.ai.tauro,.ai.geminis,.ai.cancer,.ai.leo,.ai.virgo,.ai.libra,.ai.escorpion,.ai.sagitario,.ai.capricornio,.ai.acuario,.ai.piscis {
    font-weight:normal;
}
.ai.aries:before {
    content:"\2648";
  display:inline;
  text-decoration:none;
}
.ai.tauro:before {
    content:"\2649";
}
.ai.geminis:before {
    content:"\264A";
}
.ai.cancer:before {
    content:"\264B";
}
.ai.leo:before {
    content:"\264C";
}
.ai.virgo:before {
    content:"\264D";
}
.ai.libra:before {
    content:"\264E";
}
.ai.escorpion:before {
    content:"\264F";
}
.ai.sagitario:before {
    content:"\2650";
}
.ai.capricornio:before {
    content:"\2651";
}
.ai.acuario:before {
    content:"\2652";
}
.ai.piscis:before {
    content:"\2653";
}
.ai.sol:before {
    content:"\2609";
}
.ai.luna:before {
    content:"\263D";
}
.ai.luna-variant:before {
    content:"\263E";
}
.ai.tierra:before {
    content:"\2295";
}
.ai.mercurio:before {
    content:"\263F";
}
.ai.venus:before {
    content:"\2640";
}
.ai.marte:before {
    content:"\2642";
}
.ai.jupiter:before {
    content:"\2643";
}
.ai.saturno:before {
    content:"\2644";
}
.ai.urano:before {
    content:"\2645";
}
.ai.neptuno:before {
    content:"\2646";
}
.ai.pluton:before {
    content:"\2647";
}
.ai.quiron:before {
    content:"\26B7";
}
.ai.nodon:before {
    content:"\260A";
}
.ai.nodos:before {
    content:"\260B";
}
.ai.parsfortuna:before {
    content:"\2297"
}
.ai.lilith:before {
    content:"\26B8";
}
.ai.ceres:before {
    content:"\2A1"
}
.ai.juno:before {
    content:"\26B5";
}
.ai.pallas:before {
    content:"\26B4";
}
.ai.vesta:before {
    content:"\26B6";
}
.ai.conjuncion:before {
    content:"\260C"
}
.ai.cuadratura:before {
    content:"\25A1"
}
.ai.trigono:before {
    content:"\25B3"
}
.ai.oposicion:before {
    content:"\260D"
}
.ai.semicuadratura:before {
    content:"\2220"
}
.ai.quintil:before {
    content:"\051"
}
.ai.biquintil:before {
    content:"\0062\0051"
}
.ai.retrogrado:before {
    content:"\211E"
}
.ai.cometa:before {
    content:"\2604"
}